.jumbotron
{
	background-image: url(images/marble1.png);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 750px;
	box-shadow: 5px 5px 5px #888888;
}
#crypttitle
{
	color: #282828;
	text-align: left;
	padding-left: 80px;
	text-shadow: 2px 2px #808080;
}
label
{
	margin-top: 120px;
	margin-left: 60px;
	color: #282828;
	font-weight: normal;
}
#key
{
	margin-left: 60px;
	background-color: rgba(240,240,240,0.2);
    color: black;
    border: 2px solid #A0A0A0;
    border-radius: 3px;
    width: 270px;
    margin-bottom: 10px;
}
#key:focus
{
	outline: none;
	border: 2px solid #707070;
}
#text-file
{
	display: none;
}
.custom-file-upload
{
	display: block;
	background-color: rgba(240,240,240,0.2);
    border: 2px solid #A0A0A0;
    color: #282828;
    padding: 5px 27px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: 115px;
    margin-top: 20px;
    cursor: pointer;
    width: 150px;
    font-weight: normal;
}
.custom-file-upload:hover
{
	border: 2px solid #707070;
}
#submit
{
	display: block;
	background-color: rgba(240,240,240,0.2);
    border: 2px solid #A0A0A0;
    color: #282828;
    padding: 5px 27px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: 137px;
    margin-top: 30px;
    cursor: pointer;
}
#submit:hover
{
	border: 2px solid #707070;
}